body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}
.card {
  background-color: white;
  max-width: 500px;
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header {
  background-color: #1ab07a;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 15px;
  left: 15px;
  padding: 5px;
}
.nombre {
  margin: 0 15px; /* 1.6em arriba y abajo, 20px izquierda y derecha */ /* 1.6em arriba y abajo, 20px izquierda y derecha */
}
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.encabezado-dueño {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 20px;
}
.debajo-nombre-dueño {
  display: flex;
  align-items: center;
  margin: 4% 4%;
  justify-content: space-between;
  font-size: 24px;
}
.servicios-imagen {
  width: 50%;
  border-radius: 10%;
}
.services {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.duenos-pet {
  width: 100px;
  height: 100px;
  border-radius: 10%;
}
.stars {
  margin-top: 10px;
  color: #ffd700;
}
.section {
  padding: 20px;
  text-align: center;
}
.section p {
  font-size: 16px;
  color: #555;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 14px;
}
.services,
.reviews,
.availability {
  text-align: left;
  padding: 0 20px 20px 20px;
}
.services h3,
.reviews h3,
.availability h3 {
  color: #1ab07a;
}
.service-item {
  margin-bottom: 8px;
}
.reviews {
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin: 3px;
}
.reviews p {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.buttons button {
  background-color: #1ab07a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}
.buttons button:hover {
  background-color: #148b5c;
}
.section-dos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.availability {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.horario-disponibilidad {
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  height: 50px;
  width: 300px;
  text-align: center;
}
