<p>petsitterfee works!</p>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestras Tarifas</title>
    <link rel="stylesheet" href="petsitterfee.component.css">
</head>
<body>
    <div class="card">
        <div class="encabezado">
            <div class="logo">
                 <img src="tarifas-imagenes/logo.png" alt="Logo Mascota">
            </div>
            <div class="titulo-tarifa">Nuestras tarifas</div>
        </div>   
            <div class="pricing-container">
                <div class="pricing-card">
                    <h2>Tarifa Regular</h2>
                    <button class="price-button"> 
                        S/. 20 / hora
                    </button>
                    <button class="price-button" >
                        S/. 100 / día
                    </button>
                </div>
                
                <div class="pricing-card special">
                    <div class="price-header">
                        <h2>Tarifa Especial</h2>
                        <span class="offer-badge">Oferta</span>
                    </div>
                    <button class="price-button-special">
                        S/. 15 / hora
                    </button>
                    <button class="price-button-special" >
                        S/. 80 / día
                    </button>
                </div>
                <img class="tarifas-imagen" src="tarifas-imagenes/foto-mujer-perro.png">
            </div>
    </div>
</body>
</html>